<!DOCTYPE HTML>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">

		<title>MMORPG - Game of Thrones</title>
		
		<!-- JQuery -->
		<script src="js/jquery-2.2.1.js"></script>
		
		<!-- Axios -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>

		<!-- bootstrap - link cdn -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	
		<!-- incluindo css -->
		<link href="css/style.css" rel="stylesheet">

		<script>
			$(document).ready(() => {
				$('#btn_sair').click(() => {
					window.location.href = '/sair'
				});

				$('#suditos').on('click', () => {
					$('#alert_erro').hide();
					$('#alert_acao').hide();
					
					axios.get('/suditos').then(data => {
						$('.acoes').html('');
						$('.acoes').html(data.data);
					})
				});

				$('#pergaminhos').on('click', () => {
					$('#alert_erro').hide();
					$('#alert_acao').hide();
					axios.get('/pergaminhos').then(data => {
						$('.acoes').html('');
						$('.acoes').html(data.data);
					})
				});;
			});
		</script>

	</head>

	<body class="body-jogo">

		<nav class="navbar navbar-default navbar-static-top">
			<div class="container">
				<div class="form-group sair">
					<button type="button" class="btn btn-info pull-right" id="btn_sair">Sair</button>
				</div>
			</div>
		</nav>
		<% if(erro) { %>
			<div class="alert alert-danger" id="alert_erro">
				<strong>Atenção!</strong>
				<span>Insira todos os campos da ordem</span>
			</div>
		<% } %>

		<% if(acaoInserida) { %>
			<div class="alert alert-success" id="alert_acao">
				<strong>Ok!</strong>
				<span>Ação inserida com sucesso</span>
			</div>
		<% } %>

	    <div class="container">
	    	
			<div class="row">
	    		<div class="col-sm-3 casa">
					<img src="images/casa_<%=img_casa%>.jpg" />
				</div>

	    		<div class="col-sm-9">
					<div class="row barra-superior">
						<div class="col-sm-2"> 
							<img src="images/habilidades/temor.jpg" title="Temor" alt="Temor" />
							<span>Temor: <%=jogo.temor%></span>
						</div>
						
						<div class="col-sm-2"> 
							<img src="images/habilidades/sabedoria.jpg" title="Sabedoria" alt="Sabedoria"/>
							<span>Sabedoria: <%=jogo.sabedoria%></span>
						</div>
						
						<div class="col-sm-2"> 
							<img src="images/habilidades/comercio.jpg" title="Comércio" alt="Comércio"/>
							<span>Comércio: <%=jogo.comercio%></span>
						</div>
						
						<div class="col-sm-2"> 
							<img src="images/habilidades/magia.jpg" title="Magia" alt="Magia"/>
							<span>Magia: <%=jogo.magia%></span>
						</div>
					</div>
				</div>
	    	</div>
			
			<div class="row">
				<div class="col-sm-3"></div>
				<div class="col-sm-9">
					<div class="acoes"> O que deseja fazer? </div>					
				</div>
			</div>
			
		</div>	
		
		<div class="barra-inferior">
			<div class="container">
			
				<div class="row">
					<div class="col-sm-4" id="suditos">
						<img src="images/outros/suditos.jpg" title="Aldeões" alt="Aldeões"/>
						<span>Súditos: <%=jogo.suditos%></span>
					</div>
					
					<div class="col-sm-4" id="pergaminhos">
						<img src="images/outros/pergaminho.jpg" title="Pergaminhos" alt="Pergaminhos"/>
						<span>Pergaminhos: <%=jogo.pergaminhos%></span>
					</div>
					<div class="col-sm-2"></div>
					<div class="col-sm-2">
						<img src="images/outros/moeda.jpg" title="Moeda" alt="Moeda"/>
						<span>Moedas: <%=jogo.moeda%></span>
					</div>
					
				</div>
			</div>
		</div>
	</body>
</html>